.specificHeader{
    width:100%;
    height:40vh;
    font-weight: 500;
    margin-left:-10px;
    font-size: 50px;
    display:flex;
    background-color: #343435;
    padding: 0px 0px 0px 0px;
    color: rgb(231, 228, 228);
    border-radius: 5px;
  }
  .specImage{
    margin-left:0;
    width: 25%;
  }
  .specificImage{
    margin-left:0;
    width: 25%;
  }
  .smallerDetails{
      font-size: 30px;
  }
  .info{
      padding: 20px;
  }
  .specificArtist{
      margin: 20px 20px;
  }

  .specResults{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow:scroll; 
    overflow: auto;
    height:450px;
    width:100vw;
  }
  .specContainer{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .speclistContainer{
    height:50vh;
    width:22%;
    border-radius: 50px;
    font-weight: 500;
    margin-bottom: 5px;
    /* background-color: rgb(87, 85, 182); */
    background-color: transparent;
    /* background-color:  #202020; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .itemName{
    height:40px;
    width:60%;
    cursor: pointer;
  }
  a{
    text-decoration: none;
    color:black;
    height:40px;
    width:60%;
  }
  .specificName{
    margin-top: 5%;
    color:rgb(255, 255, 255);
  }
  .specificName:hover{
    color:rgb(124, 124, 124);
    transform: scale(1.01);
    cursor: pointer;
  }
  .specificImageDiv{
    margin-top: -10;
    width:70%;
  }
  .specificImage{
    height:100%;
    width:100%;
  }
  .specTitle{
    font-size: 45px;
    font-weight: 500;
    align-self: start;
    text-align: center;
    margin-bottom: 5%;
  }
  
  .specResultContainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    /* background-color: rgb(69, 68, 104); */
    background-color:  transparent;
    color: white;
  }

  .play{
    color:white;
  }
  .play:hover{
    color:rgb(157, 211, 146);
    filter:brightness(120%);
    cursor:pointer;
  }